<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav class="nav">
        <ul>
            <li href="/home">Home</li>
            <li href="/about">About</li>
            <li href="skills">Skills</li>
            <li href="/demos">Demos</li>
            <li href="/achivement">Achivement</li>
            <li href="/contact">Contact</li>
        </ul>
    </nav>