<%- include('partials/header.ejs') %>
<!-- WRITE YOUR CODE HERE-->
    <a href="/register.ejs" role="button" method="GET">Register</a>
    <a href="/login.ejs" role="button" method="GET">Login</a>
<%- include('partials/footer.ejs') %>