<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <button><a href="/register">Student</a></button>
        <button><a href="/teacherregister">Teacher</a></button>
    </div>
    <div>
        <!-- Makes POST request to /register route -->
       <form action="/register" method="POST">
            <div>
             <label for="email">Email</label>
             <input type="email" name="username">
           </div>
           <div>
             <label for="password">Password</label>
             <input type="password" name="password">
            </div>
            <div>
                <label for="conf">Confirm Password</label>
                <input type="password" name="conf">
            </div>
            <button type="submit">Register</button>
        </form>
    </div>
</body>
</html>