<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <button href="/login">Student</button>
        <button href="/teacherlogin">Teacher</button>
    </div>
    <!-- Makes POST request to /login route -->
    <form action="/teacherlogin" method="POST">
        <div>
          <label for="email">Email</label>
          <input type="email" name="username">
        </div>
       <div>
          <label for="password">Password</label>
         <input type="password"  name="password">
        </div>
        <button type="submit">Login</button>
    </form>

</body>
</html>